@import url('https://fonts.googleapis.com/css2?family=Zain:wght@400;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-800;
    direction: rtl;
  }
}

/* إخفاء شريط التمرير (Scrollbar) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
